:root {
    --pastel: #E0ECE4;
    --light: #e3e3e3;
    --light-grey: #c6c3bf;
    --grey: #797A7E;
} /*Define CSS variables to use without typing the hex code over and over*/

@font-face {
    font-family: lato;
    src: url("assets/Lato-Regular.ttf");
} /*Add font*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: var(--light);
    font-family: lato;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
} /*Style and flexbox*/

.blog-body {
    overflow-x: hidden;
} /*remove bottom scroll bar*/

.about-body {
    overflow-x: hidden;
}  /*remove side and bottom scroll bar*/

nav {
    background: var(--light-grey); /*calling CSS variable with var()*/
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px; /*Shadow to the container*/
    position: sticky;

}

.logo {
    width: 100px;
    height: 40px;
    border-radius: 15px;
    border: 1px solid black;
}

.intro-main .title {
    font-size: 3.5em;
    justify-self: center;
    padding: 0.3em;
}

.intro-main {
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 5em;
    padding-right: 5em;
    padding-bottom: 2em;
}

.buttons a button{
    font-size: 1.1em;
    padding: 0.8em;
    margin: 2em;
    width: 5em;
    border-radius: 15px;
    border: none;
    box-shadow: rgba(100, 100, 111, 0.8) 0px 7px 29px 0px;
    transition: all 200ms ease-in-out;
}

.buttons a button:hover {
    background: var(--light-grey);
    transform: scale(0.8);
}

.intro-container {
    height: auto;   
    padding: 1em;
    border-radius: 15px;
    font-size: 1em;
    box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
}

.about-main {
    height: 75vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    margin-top: 3em;
}

.title.about {
    font-size: 4em;
}

small {
    font-size: 12px;
    font-style: italic;
}

.zyzz-pose {
    height: 300px;
    object-fit: cover;
}

.blog-main .title {
    font-size: 3.5em;
    justify-self: center;
    padding: 0.3em;
}

.blog-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.card {
    background-color: var(--light-grey);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    margin: 1.5em;
    padding: 1em;
    width: 80vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 1.2em;
}

.info {
    display: flex;
    flex-direction: column;
    width: 60vw;
    gap: 2em;
}

footer {
    height: 5vh;
    background-color: var(--light-grey);
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    text-align: center;
    width: 100vw;
}

.img-container {
    position: sticky;
    top: 0;
    height: 15vh;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40vw;
    height: 30vh;
    font-size: 1.2em;
    padding: 16px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
}

.top-input {
    display: flex;
    justify-content: space-around;
    margin-bottom: 8px;
}

label {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 25%;
}

input {
    border: none;
    border-radius: 10px;
    padding: 6px;
    box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
}

textarea {
    box-sizing: border-box;
    resize: none;
    border-radius: 10px;
    border: none;
    box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
    box-sizing: border-box;
    padding: 8px;
}

::placeholder {
    font-style: italic;
}

#submit {
    padding: 4px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    margin-top: 8px;
    transition: all 200ms ease-in-out;
}

#submit:hover {
    background: var(--light-grey);
}

@media (max-width: 1000px) {
    .intro-main .title {
        font-size: 2em;
    }

    .intro-container {
        font-size: 1.3em;
    }

    .zyzz-pose {
        height: 250px;  
    }

    .info {
        font-size: 1em;
    }

    .title.about {
        font-size: 3.5em;
    }
    
    .about-body {
        overflow: scroll;
        display: flex;
        justify-content: space-around;
    }

}

@media (max-width: 900px) {
    p {
        width: 50%;
    }

    .buttons a button {
        font-size: 0.9em;
    }

    .title.about {
        font-size: 2.5em;
    }
 }

@media (max-width: 700px) {
    .intro-main .title {
        font-size: 1.5em;
    }

    .intro-container {
        font-size: 1em;
    }

    footer small {
        font-size: 8px;
    }

    .buttons a button {
        font-size: 0.8em;
    }

    .blog-main .title {
        font-size: 3em;
    }

    .img-container small {
        font-size: 10px;
    }
}

@media (max-width: 500px) {
    .intro-main .title {
        font-size: 1.2em;
    }

    small {
        font-size: 7px;
    }
    
    .buttons a button {
        margin: 0.4em;
    }

    .blog-main .title {
        font-size: 2.5em;
    }

    .card {
        font-size: 1em;
    }

    .zyzz-pose {
        height: 200px;
    }
}

@media (max-width: 450px) {
    small {
        font-size: 5px;
    }

    .img-container {
        margin-left: 20px;
    }
}

@media (max-width: 360px) {
    .intro-main .title {
        font-size: 1em;
    }

    .buttons a button {
        margin: 1em;
    }

    small {
        font-size: 5px;
        padding: 0em;
    }
    
    .buttons a button {
        margin: 0.3em;
        font-size: 12px;
    }

    .blog-main .title {
        font-size: 2em;
    }

    .card {
        font-size: 0.8em;
    }
}